<?xml version="1.0" encoding="utf-8"?>
<!--
/*
**
** Copyright 2008, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quickstep -->
    <uses-permission android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS"
        tools:ignore="ProtectedPermissions" />

    <!-- Tablet support -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <!-- Notifications -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- Events -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- Plugins -->
    <permission
        android:name="${applicationId}.permission.PLUGIN"
        android:protectionLevel="signature"
        android:label="@string/perm_plugin"
        android:description="@string/perm_plugin_desc" />

    <uses-permission android:name="${applicationId}.permission.PLUGIN" />

    <application>

        <!-- Quickstep -->
        <service
            android:name="com.android.quickstep.TouchInteractionService"
            android:permission="android.permission.STATUS_BAR_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.QUICKSTEP_SERVICE" />
            </intent-filter>
        </service>

        <!-- STOPSHIP: Change exported to false once all the integration is complete.
        It is set to true so that the activity can be started from command line -->
        <activity android:name="com.android.quickstep.RecentsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/LauncherTheme"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:taskAffinity="" />

        <!-- Content provider to settings search -->
        <provider
            android:name="com.android.quickstep.LauncherSearchIndexablesProvider"
            android:authorities="${applicationId}"
            android:grantUriPermissions="true"
            android:multiprocess="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name="com.android.launcher3.Launcher"
            tools:node="remove" />

        <activity
            android:name="amirz.shade.ShadeLauncher"
            android:label="@string/app_name_shade_short"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:taskAffinity=""
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.launcher3.SettingsActivity"
            tools:node="remove" />

        <activity
            android:name="amirz.shade.ShadeSettings"
            android:label="@string/settings_button_text"
            android:theme="@style/ShadeSettings"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.launcher3.dragndrop.AddItemActivity"
            tools:node="remove" />

        <activity android:name="amirz.shade.dragndrop.ShadeAddItemActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.Alert"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"
            android:label="@string/action_add_to_workspace" >
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET" />
            </intent-filter>
        </activity>

        <activity
            android:name="amirz.shade.ShadeSearch"
            android:taskAffinity=".search"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <service
            android:name="amirz.plugin.shortcuts.ShortcutService"
            android:permission="${applicationId}.permission.PLUGIN"
            android:label="@string/plugin_shortcuts"
            android:description="@string/plugin_shortcuts_desc"
            android:enabled="@bool/backport_shortcut_service">
            <intent-filter>
                <action android:name="com.android.launcher3.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="interface.descriptor"
                android:value="com.android.launcher3.plugin.shortcuts.IShortcutPlugin" />
            <meta-data
                android:name="interface.version"
                android:value="1" />
        </service>

        <service
            android:name="amirz.plugin.unread.UnreadService"
            android:permission="${applicationId}.permission.PLUGIN"
            android:label="@string/plugin_media"
            android:description="@string/plugin_media_desc">
            <intent-filter>
                <action android:name="com.android.launcher3.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="interface.descriptor"
                android:value="com.android.launcher3.plugin.unread.IUnreadPlugin" />
            <meta-data
                android:name="interface.version"
                android:value="1" />
        </service>

        <meta-data android:name="android.max_aspect" android:value="3.0" />
    </application>
</manifest>
